/**
 * @file
 * Styles are organized using the SMACSS technique. @see http://smacss.com/book/
 *
 * When you turn on CSS aggregation at admin/config/development/performance, all
 * of these @include files will be combined into a single file.
 */

/* Import Sass mixins, variables, Compass modules, etc. */
@import "init";

/* HTML element (SMACSS base) rules */
@import "normalize";

/* Layout rules */
@import "layouts/responsive";

/* Component (SMACSS module) rules */
@import "components/misc";
// Optionally, add your own components here.
@import "print";

/* SMACSS theme rules */
/* @import "theme-A"; */
/* @import "theme-B"; */

/* CUSTOM */

body {
  font-family: $verdana;
  color: #333333;
}

a {
  color: #d01d00;
  text-decoration: none;
}

#main-menu li a {
  @include header-font;
  font-size: 120%;
}

#logo {
  margin: 20px;
}

#name-and-slogan {
  margin-top: 70px;
}

#page-title {
  display: none;
/*  background-color: White;
  padding: 5px 0 10px 20px;
  color: Black;
  opacity: .5;*/
}

.node-page {
/*  position: relative;
  top: -62px;
  z-index: -1;*/
}

th, td {
  border: 1px solid #dddddd;
  padding: 10px;
}

th {
  background-color: #eeeeee;
}

#usrowing_mnc_logo {
  float: right;
}

#name-and-slogan {
  margin-left: 90px;
}